@model IEnumerable<PERSEO.Models.Locale>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NLocal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoProductoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendedorNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NLocal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoProductoNavigation.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendedorNavigation.CodigoVendedor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Movimiento">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Movimiento">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Movimiento">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
