@model IEnumerable<PERSEO.Models.Producto>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a class="btn btn-primary" asp-action="Create">Nuevo Producto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Codigo" title="Editar"><i class="fa-solid fa-pencil"></i></a> |
                    <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Codigo" title="Detalles"><i class="fa-solid fa-sheet-plastic"></i></a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Codigo" title="Eliminar"><i class="fa-solid fa-trash-can"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
